@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Details";
    var photoPath = "~/images/" + (Model.PhotoPath ?? "noimage.jpg");
}
<div>
    <h4>Details</h4>
    <hr />
     <div class="card-deck">        
        <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">        
            <div class="card-body">
                <img src="@Url.Content(@photoPath)" class="img-thumbnail" />
                <p class="card-title bold">@Html.DisplayFor(model => model.Title)</p>
                <p class="card-text">Release Date: @Html.DisplayFor(model => model.ReleaseDate)</p>
                <p class="card-text"> @Html.DisplayFor(model => model.Genre.Details)</p>
                <p class="card-text">Price: @Html.DisplayFor(model => model.Price)</p>
                <p class="card-text">Rating: @Html.DisplayFor(model => model.Rating)</p>
            </div>                 
        </div>             
     </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>
